<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target
      name="MainFile"
      xsi:type="File"
      archiveOldFileOnStartup="true"
      enableArchiveFileCompression="true"
      fileName="${specialfolder:folder=ApplicationData}/Sigma/Logs/${date:format=yyyy-MM-ddTHH-mm-ss}.log" />
    <target
      name="BuildFile"
      xsi:type="File"
      fileName="build.log" />
    <target
      name="Console"
      xsi:type="Console" />
    <target
      name="ColoredConsole"
      xsi:type="ColoredConsole" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="ColoredConsole" />
    <logger name="Sigma" minlevel="Info" writeTo="MainFile" />
    <logger name="BuildSystem" minlevel="Info" writeTo="BuildFile" />
  </rules>
</nlog>